.homepage {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage h1{
    margin-top: 5px;
}

.homepage .carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
    width: 800px;
}

.slides {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.arrow {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left {
    left: 22rem;
    z-index: 100;
}

.arrow-right {
    right: 22rem;
    z-index: 100;
}

.indicators {
    position: relative;
    bottom: 50px;
}

.indicator {
    width: 6px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 5px #555;
    margin-right: 5px;
    cursor: pointer;
}

.indicator.active {
    background-color: #666;
}
